{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Django website for manage literature and RSS Feed.">
<meta name="author" content="https://github.com/NameNolen">
<meta name="author" content="https://github.com/renpj">
<!-- Bootstrap core CSS -->
<link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<!-- Bootstrap core JavaScript -->
<script type="javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script type="javascript" src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>