<!DOCTYPE html>
<html lang="en">

<head>
    <title>Literature</title>
    {% load static %}
    {% include "dj_literature/header.html" %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <script type="text/babel" src="{% static "index.js" %}"></script>
</head>

<body>

<div id="root"></div>
<!-- Navigation -->
{% include "dj_literature/top.html" %}


<!-- Page Content -->

<!-- /.container -->

<!-- Footer -->
{% include "dj_literature/footer.html" %}

</body>

</html>
